*,
*::before
*::after{
    box-sizing: border-box;
}

/* Custom properties */
:root{
    /* from google font */
    /* ff for font family */
    --ff-primary: 'Source Sans Pro', sans-selrif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    /* fw for font width */
    --fw-reg: 300;
    --fw-bold: 900;
    
    /* clr for color */
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #36dda5;

    /* fs for font size */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /* box shadow */
    --bs: 0.25em 0.25em 0.75em rgb(122, 118, 118),0.125em 0.125em 0.25em rgba(0,0,.15);
}

/* auto adjust size base on the media */
@media (min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* general styles */
html{
    scroll-behavior: smooth;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{
    padding: 5em 2em;
}

/* auto adjust size base one the screen */
img{
    display: block;
    max-width: 100%;
}

strong {font-weight: var(--fw-bold);}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* buttons */
.btn{
    display: inline-block;
    padding: .5em 2em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover{
    transform: scale(1.2);
}

/* Typography */
h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1);}
h2 { font-size: var(--fs-h2);}
h3 { font-size: var(--fs-h3);}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__subtitle--work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/*  HTML element that begins a new line on a web page 
and extends the full width of the available horizontal space of its parent element.  */
.section__title--intro strong{
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    padding: .25em 1em;
    margin-bottom: 1em;
}


/* Header */
/* ------------------ */
header{
    display: flex; 
    justify-content: space-between;
    padding: 1em;
}

.logo{
    max-width: 100px;
}

.nav{
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;


    transform: translatex(100%);
    transition: transform 250ms cubic-bezier(.5,0,.5,1);
}

.nav__list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;

}

.nav__link:hover{
    color: var(--clr-accent);
}

.nav-toggle{
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

/* this line means when .nav-open exist, .nav will blablabla */
.nav-open .nav{
    transform: translatex(0);
}

.nav-open .nav-toggle{
    position: fixed;
}

/* the 0.625 turn and rotate 90deg is awesome effect, making the hamburger and X afterward */
.nav-open .hamburger{
    transform: rotate(0.625turn);
}

.nav-open .hamburger::before{
    /* hamburger before was translatex (6px), so translatex(-6px) to make it overlap with the center line */
    transform: rotate(90deg) translatex(-6px);
}

.nav-open .hamburger::after{
    opacity: 0;
}


.hamburger{
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-accent);
    width: 2em;
    /* 3px thick (or height) right here */
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-out
}

.hamburger::before,
.hamburger::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

/* 6px before the thickness for each line is 3px */
.hamburger::before{top: 6px;}
.hamburger::after{bottom: 6px;}

/* Intro Section */
/* ------------------ */
.intro {
    position: relative;
    /* change as needed */
    min-height: 60vh;
}

.intro__img{
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .intro{
        display: grid;
        grid-column-gap: 1em;

        /* the section will match the content inside */
        width:min-content;
        /* center the section at smaller/bigger screen*/
        margin: 0 auto;

        grid-template-areas: "img title" "img subtitle";
        /* shrink the first variable (img) and max the second (text) */
        grid-template-columns: min-content max-content;
    }
    .intro__img{
        grid-area: img;
        min-width: 500px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro{
        /* prevent the green background from stretching verticlly */
        /* Or set the subtitle section so that only lines that are used are in the section */
        align-self: start ;

        /* extend the subtitle section horizontally so that it is as wide as the section */
        grid-column: -1/1;

        grid-row: 2;
        text-align: right;
        position: relative;
        left: -2em;
        width: calc(100% + 2em);
    }
}


/* My Service section */
/* ------------------ */
.my-service {
    background-color: var(--clr-dark);
    background-image: url(../img/work.jpg);
    background-size: cover;
    /* multiply the background color effect (make it darker in this case) */
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
    min-height: 80vh;
}

.section__title--service{
    color: var(--clr-accent);
    position: relative;
}


/* put an arbitrary element after a specific section, in this case it is a while line below the title */
.section__title--service::after{
    content: "";
    display: block;
    width: 3em;
    height: 1px;
    /* margin: top right/left bottom  */
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.service{
    max-width: 600px;
    margin: 0 auto;
}

.services{
    margin-bottom: 3em;
}

@media (min-width: 1000px){
    .services{
        display: flex;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    /* + combinator: if there is a .service section (left) next to a .service section (right)
    then creat 2em space on the left  */
    /* the most left column does not have a "left space" so it will not create addition margin left*/
    .service + .service{
        margin-left: 2em;
    }
}

/* about me */
/* ------------------ */
.about-me{
    max-width: 1000px;
    margin: 0 auto;
    /* min-height: 80vh; */
}

.about-me__img{
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about{
        grid-area: title;
    }

    .section__subtitle--about{
        /* start from the first row, end at the last row */
        grid-column: 1 3;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img{
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My Work */
.my-work{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}


.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 20px 20px;
}

.portfolio__item{
    background: var(--clr-accent);
    overflow: hidden;

}

.portfolio__img{
    min-height: 100%;
    transition: 
        transform 750ms cubic-bezier(.5,0,.5,1),
        opacity 250ms linear;
}

.portfolio__img:hover{
    transform: scale(1.2);
    opacity: 0.75;
}

/* footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer-link{
    font-weight: var(--fw-bold);
}

.footer-link:hover,
.social-list__link:hover{
    opacity: 0.7;
}

.footer-link:hover{
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0.25em;
}

.social-list__item{
    margin: 0 1em;
}



/* Individual portfolio item style */
.portfolio-item-individual{
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p{
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}